<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nowa Generacja</title>

    <!-- Style i ikony -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" type="image/png" href="../static/images/nowa-generacja.jpg"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Menu nawigacyjne -->
    {% include 'menu.html' %}

    <main>
        <section>
            <p>
                Witamy w Krajowym Rejestrze Członków Nowej Generacji - miejscu, gdzie gromadzimy i zarządzamy 
                danymi naszej społeczności. Sprawdź aktualne informacje i bądź na bieżąco!
            </p>
        </section>

        <!-- Informacje o uprawnieniach użytkownika -->
        <div class="permissions-box">
            <h2>Twój poziom uprawnień:</h2>

            {% if user_role in admin %}
                <p><strong>Rola:</strong> Administrator</p>
                <p><strong>Uprawnienia:</strong> Pełen dostęp do wprowadzania, zmiany oraz usuwania danych w całym stowarzyszeniu. Dostęp do zbanowanych oraz usuniętych użytkowników.</p>

            {% elif user_role in kr_rew %}
                <p><strong>Rola:</strong> Krajowa Komisja Rewizyjno-Dyscyplinarna</p>
                <p><strong>Uprawnienia:</strong> Pełen dostęp do wglądu we wszystkie dane zgromadzone za pośrednictwem oprogramowania bez możliwości ich edycji.</p>

            {% elif user_role in adm_reg %}
                <p><strong>Rola:</strong> Administrator regionalny</p>
                <p><strong>Uprawnienia:</strong> Dostęp do wprowadzania, zmiany oraz usuwania danych w wyznaczonym regionie.</p>

            {% elif user_role in reg_rew %}
                <p><strong>Rola:</strong> Regionalna Komisja Rewizyjno-Dyscyplinarna</p>
                <p><strong>Uprawnienia:</strong> Dostęp do przeglądania danych w obrębie przypisanego regionu bez możliwości ich edycji.</p>

            {% else %}
                <p><strong>Rola:</strong> Administrator lokalny</p>
                <p><strong>Uprawnienia:</strong> Dostęp do wprowadzania, zmiany oraz usuwania danych w przypisanym kole lokalnym.</p>
            {% endif %}
        </div>
    </main>

    <!-- Stopka -->
    <footer id="kontakt" class="footer-fixed">
        <p>Kontakt: <a href="mailto:kontakt@nowageneracja.org">kontakt@nowageneracja.org</a></p>
    </footer>

    <!-- Skrypty -->
    <script src="../static/js/sendForm.js"></script>
</body>
</html>
